<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="Nancy" version="1.1" targetFramework="net451" />
  <package id="Nancy.Owin" version="1.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net451" />
</packages>